CCPOS/CCPOS.Module.Win/bin/
CCPOS/CCPOS.Module.Win/obj/
CCPOS/CCPOS.Module.Web/bin/
CCPOS/CCPOS.Module.Web/obj/
CCPOS/CCPOS.Module/bin/
CCPOS/CCPOS.Module/obj/
CCPOS/CCPOS.Win/bin/
CCPOS/CCPOS.Win/obj/
CCPOS/CCPOS.Web/bin/
CCPOS/CCPOS.Web/obj/
CCPOS/CCPOS.Module.Win/bin/Debug/
CCPOS/CCPOS.Module.Win/obj/Debug/
CCPOS/CCPOS.Module.Web/bin/Debug/
CCPOS/CCPOS.Module.Web/obj/Debug/
CCPOS/CCPOS.Module/bin/Debug/
CCPOS/CCPOS.Module/obj/Debug/
CCPOS/CCPOS.Win/bin/Debug/
CCPOS/CCPOS.Win/obj/Debug/
CCPOS/CCPOS.Web/bin/Debug/
CCPOS/CCPOS.Web/obj/Debug/
bin/
CCPOS/.vs/CCPOS/v16/Server/sqlite3/db.lock
*.ide-wal
*.ide-shm
*.ide
*.cache
*.ide
CCPOS/.vs/CCPOS/v16/Server/sqlite3/storage.ide
CCPOS/.vs/CCPOS/v16/.suo
*.dll
*.pdb
*.xml
*.dll
*.pdb
CCPOS/CCPOS.Win/App.config
.vs